
<div class="container">
    <div class="row">
        <div class="col-md-8 pt-2 m-auto">
            <div class="jumbotron my-3 p-2 bg-dark text-white">
                <h1 class="display-1 text-center" >HI <i class="fas fa-smile"></i> THERE!</h1>
                <p class="lead text-center">this website helps you know about movies and tv made with 
                    <i class="fas fa-heart text-danger"></i> by <span class="name text-primary font-weight-bold">EKRAMY NO3MAN</span> </p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="mailto:Ekramy.no3man@gmail.com" role="button">Send me a massege</a>
                </p>
            </div>
        </div>
    </div>
</div>