.page-item {
    cursor: pointer;
}


.card {
    background: none !important;
    border: 1.5px solid #fff;
    box-shadow: 1px 0px 10px 0px #000;
    cursor: pointer;




}

.card-body {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.card-body:hover .card-desc {
    top: 50%;
}

.card-body:hover img {
    transform: scale(1.2);
    transition: all 1s;
}

.card-voting {
    background-color: royalblue;
    width: 30px;
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    justify-content: center;
    line-height: 30px;
    padding: 3px;
}

.card-desc {

    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    transition: top 1s;

}

