<div class="container text-light mt-3">

  <div class="py-5">
    <input [(ngModel)]="terms" type="text" class="form-control w-50 m-auto" placeholder="Find Your Movies">
  </div>

  
    <div class="row">
        <div *ngFor="let trend of allTrending|search:terms " class="col-md-2 my-2">
            
            <div class="card" (click)=getMediaType(trend.media_type,trend.id)>
                <div class="card-body">
                    <img [src]="imgPrefix+trend.poster_path" [alt]="trend.title" 
                    class="img-fluid">
                    <div class="card-voting">{{trend.vote_average}}</div>
                    <div class="card-desc p-2">
                        <h5 class="card-title">
                          {{ trend.title == undefined ? trend.name:trend.title }}</h5>
                        <p class="card-text">{{ trend.overview }}</p>
                    </div>
                </div>
            </div>
        </div>

         
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center align-items-baseline">
        <li class="page-item disabled" (click)="pagePrevious()">
          <p>Previous</p>
        </li>
        <li class="page-item p-2" *ngFor="let page of pages" 
        (click)="pagination(page)">{{ page }}</li>
        
        <li class="page-item" (click)="pageNext()">
          <p>Next</p>
        </li>
      </ul>
    </nav>
</div>
