
.card {
    background: none;
    border: 1px solid #fff;
}

.card-title {
    padding: 1rem;
    margin-bottom: 0; 
}

.tv-tag {
    font-size: smaller;
    font-weight: lighter;
    margin-bottom: 0; 

}
.rating {
    display: flex;
}
.rating-ave {
    font-size: 1.3rem;
    border-right: 1px solid grey;
    padding-right: 0.5rem;
}

.rating-span {
    font-size: 0.8rem;
    
}

.rating-icon {
    color: goldenrod;
    margin-right: 0.3rem;
}

.rating-it {
    color: gray;
    margin-left: 0.5rem;
    font-weight: 100 !important;
    cursor: pointer;
}

.rating-it-icon {
    color: gray;
    
}

.tv-info {
    position: relative;
}
.tv-info *{

    color: gray;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

.adults {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: maroon;
    font-weight: bold;
    padding: 0.2rem;
    border: 1px solid goldenrod;
    text-align: center;
    margin-left: 1rem;
    border-radius: 5px;
}

.company-logo{
    width: 17% !important;
    padding: 1rem;
    
}
.poster {
    height: 85%;
}